</main>
<footer> </div>
  <p>&copy; 2023 BRAINY. All rights reserved.</p>
   </div>
  <div class="sociallinks">
    <div class="social-media">
      <a href="https://www.facebook.com/YourPage" target="_blank" rel="noopener noreferrer">
        <img src="/images/youtube.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/YourTwitter" target="_blank" rel="noopener noreferrer">
        <img src="images/twitter.png" alt="Twitter">
      </a>
      <a href="https://www.youtube.com/YourChannel" target="_blank" rel="noopener noreferrer">
        <img src="/images/whatsapp.png" alt="YouTube">
      </a>
      <a href="https://www.youtube.com/YourChannel" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkedin.png" alt="YouTube">
      </a>
      <a href="https://www.youtube.com/YourChannel" target="_blank" rel="noopener noreferrer">
        <img src="/images/github.png" alt="YouTube">
      </a>
      <a href="https://www.youtube.com/YourChannel" target="_blank" rel="noopener noreferrer">
        <img src="images/instagram.png" alt="YouTube">
      </a>
   
</footer>
  </div>
 <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/creative.css">
</body>
</html>
