<%- include('partials/header') %> 

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/creative.css">

    <section class="hero">
        <h1>Welcome to Developer's Den</h1>
        <p>I'm Dev , a passionate web developer.</p>
        <p style="background-color: beige;color: #000;;">Turning ideas into beautiful, functional websites.</p>
        <a href="/projects" class="btn">View My Work</a>
    </section>
    <section class="mission">
        <h2>Mission Statement</h2>
        <p>I am dedicated to creating web solutions that not only look great but also deliver exceptional user experiences. My goal is to make the internet a better place, one website at a time.</p>
    </section>
<%- include('partials/footer') %>
