body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.blog {
    background-color: lightslategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}



.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.service {
    background-image: url('/images/dev.webp');
    background-repeat: no-repeat;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    flex-basis: calc(33.33% - 20px);
    transition: transform 0.2s ease-in-out;
}

.service:hover {
    transform: scale(1.05);
}

.service h2 {
    color: lightcoral;
    font-family:'Franklin Gothic Medium';
    font-size: 1.5rem;
}

.service p {
    color: #666;
    font-size: 1rem;
    margin-top: 10px;
}

.service ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.service ul li {
    color: #666;
    padding-left: 20px;
    background: url('/images/checkmark.png') no-repeat left center;
}
.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}